@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --orange:#707070;
}

*{
  font-family: 'Nunito', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none; border:none;
  text-decoration: none;
  transition: all .2s linear;
}

*::selection{
  background:var(--orange);
  color:#fff;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  padding:2.5rem 0
}

.heading span{
  font-size: 3.5rem;
  background:#D8FFDB;
  color:var(--orange);
  border-radius: .5rem;
  padding:.2rem 1rem;
}

.heading span.space{
  background:none;
}


.btn:hover{
  background:rgba(177, 124, 24, 0.2);
  color:var(--orange);
}

header{
  position: fixed;
  top:0; left: 0; right:0;
  /* background:#333; */
  background: #D8FFDB;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0.2rem 9%;
}


header .logo span{
  color:var(--orange);
}

header .navbar a{
  color:black;
  font-size: 2rem;
  margin:0 .8rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons i{
  font-size: 2.5rem;
  color:black;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover{
  color:var(--orange);
}

sub-menu-1 {
  display: none;
}

#menu-bar{
  color:black;
  border:.1rem solid black;
  border-radius: .5rem;
  font-size: 3rem;
  padding:.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
  z-index: 0;
}

.home .content{
  text-align: center;
}

.home .content h2{
  font-size: 7rem;
  color:white;
  text-transform: uppercase;
  text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
  font-size: 5rem;
  color: white;
  padding:.5rem 0;
}

.home .video-container video{
  position: absolute;
  top:0; left: 0;
  z-index: -1;
  height: 100%;
  width:100%;
  object-fit: cover;
}

.home .controls{
  padding:1rem;
  border-radius: 5rem;
  background:rgba(0,0,0,.7);
  position: relative;
  top:10rem;
}






.packages .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:2rem;
}

.packages .box-container .box{
  flex:1 1 30rem;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.packages .box-container .box img{
  height: 25rem;
  width:100%;
  object-fit: cover;
}

.packages .box-container .box .content{
  padding:2rem;
}

.packages .box-container .box .content h3{
  font-size:2rem;
  color:#333;
}

.packages .box-container .box .content h3 i{
  color:var(--orange);
}

.packages .box-container .box .content p{
  font-size:1.7rem;
  color:black;
  padding:1rem 0;
}

.brand-container{
  text-align: center;
}

.footer{
  background:#D8FFDB;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  padding:1rem 0;
  flex:1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding:.7rem 0;
  color:black;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding:.7rem 0;
  color:black;
}

.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding:.7rem 0;
  color:black;
}

.footer .box-container .box a:hover{
  color:var(--orange);
  text-decoration: underline;
}


.footer .credit span{
  color:var(--orange);
}

small{
  font-size: 1.3em;
}

body {
    align-items: center;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 60%;
    overflow: hidden;
    background-color: rgb(10, 10, 69);
}
li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(248, 248, 248);
    text-align: center;
    padding: 12px ;
    text-decoration: none;
}

#menu > li:last-child
{
    float:right;
}

li:hover {
    background-color: rgb(14, 14, 14);
}


/* media queries  */


@media (max-width:991px){

  header{
    padding:0.2rem;
  }

  section{
    padding:2rem;
  }
  .packages > .heading{
    padding-top: 5rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: initial;
  }

  header .navbar{
    position: absolute;
    top:100%; right:0; left: 0;
    background: #333;
    border-top: .1rem solid rgba(255,255,255,.2);
    padding:1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a{
    display: block;
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem 0;    
    background:#222;
  }
 
}

@media (max-width:450px){

  html{
    font-size: 50%;
  }

  .heading span{
    font-size: 2.5rem;
  }

  .contact .row form .inputBox input{
    width:100%;
  }

  .packages > .heading{
    padding-top: 8rem;
  }

}