:root {
    --second-bg-color: #D8FFDB;
  }
  .img{
    align-items: center;}
  .secondary-bg {
    background-color: var(--second-bg-color);
  }
  
  .rounded-full {
    border-radius: 100%;
  }
  
  #wrapper {
    overflow-x: hidden;
  }
  .side{
    background-color: #D8FFDB;;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 0.5rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }
  
  .list-group-item {
    border: none;
    padding: 20px 30px;
  }
  
  .list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
  }
  .gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, #D8FFDB, rgb(47, 233, 53));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #D8FFDB, rgb(133, 251, 133))}

    .col-1 {
      flex-basis: 20%;
      padding: 10px;
      min-width: 200px;
      margin-bottom: 50px;
      transition: transform 0.5s;
    }
    .col-1 img {
      width: 100%;
      cursor: pointer;
    }
    .Title {
      text-align: center;
      margin: 0 auto 80px;
      position: relative;
      line-height: 60px;
      color: #000;
    }
    .Title::after {
      content: "";
      background: #8aeb92;
      width: 80px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
    }
    .col-1:hover {
      /* transform: translateY(-5px); */
      transform: scale(1.1);
      z-index: 1.5;
      cursor: pointer;
    }
  /* form */
  .container1{
    width: 100%;
    padding: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgb(193, 229, 188);
    border-radius: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container2{
    width: 60%;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 85%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 20%;
    background-color: rgb(2, 2, 2);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-left: 22%;
}
.col-1{
    float: left;
    width: 22%;
    margin-top: 5px;
    text-align: center;
}
.col-2{
    float: left;
    width: 70%;
    margin-top: 5px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
#button-1{
    background-color: rgb(225, 60, 60);
    padding-right: 10px;
}
#button-2{
    background-color: rgb(238, 241, 44);
    padding-right: 10px;
}
table{
    /* border-collapse: collapse;   */
    width: auto;
}
th {
    border: 2px solid #dddddd06;
}
td {
    border: 2px solid #dddddd;
    padding-right: 10px;   
}

/* Responsive layout - when screen size is 720 at max*/
@media screen and (max-width: 720px) {
    .container1 {
        width: 90%;
        margin-top: 0;
    }
    .container2 {
        width: 80%;
        margin-top: 0;
    }
    .col-1, .col-2{
        width: 100%;
    }
}
/* form */
  

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
